name: DBT Deploy To Stage

permissions:
  id-token: write
  contents: read
  pull-requests: write

on:
  # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#running-your-pull_request-workflow-when-a-pull-request-merges
  pull_request:
    types:
      - closed
    branches:
      - main

concurrency:
  group: dbt-deploy-prod

jobs:
  job_001:
    runs-on: ubuntu-latest
    #if: github.event.pull_request.merged == true
    if: ${{ github.head_ref }} == "anjo0511-patch-10"
    steps:
      - name: bla001
        run: echo "Hello bla001 gh head ${{ github.head_ref }}" 
        
  job_002:
    needs: job_001
    runs-on: ubuntu-latest
    steps:
      - name: bla002
        run: echo "Hello bla002 gh head ${{ github.head_ref }}" 
