name: DBT Deploy To Stage

permissions:
  id-token: write
  contents: read
  pull-requests: write

on:
  # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#running-your-pull_request-workflow-when-a-pull-request-merges
  push:
    branches:
      - main

concurrency:
  group: dbt-deploy-prod

jobs:
  job_002:
    runs-on: ubuntu-latest
    env:
      git_head_ref: ${{ github.head_ref }}
      LOG_FILE_NAME: log_file.txt
      RUN_FILE_NAME: run_file.txt               
    steps:
      - name: bla002
        run: | 
          echo "echo "${{ github.head_ref }}"" >> $RUN_FILE_NAME
          echo "ls -la" >> $RUN_FILE_NAME
          echo "as" >> $RUN_FILE_NAME
        
      - name: bla003
        run: bash $RUN_FILE
        
        
