name: DBT Deploy To Stage

permissions:
  id-token: write
  contents: read
  pull-requests: write

on:
  # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#running-your-pull_request-workflow-when-a-pull-request-merges
  push:
    branches:
      - main

concurrency:
  group: dbt-deploy-prod

jobs:
  job_002:
    runs-on: ubuntu-latest
    env:
      git_head_ref: ${{ github.head_ref }}
      LOG_FILE_NAME: log_file.txt
      RUN_FILE_NAME: run_file.txt
      RUN_FILE: |
        echo 'hello'  
        dbt debug 
        dbt deps
        git checkout main
        git compile
        $run_command 2>&1|tee log_file.txt
    steps:
      - name: bla002
        run: echo "Hello bla002 gh head ${{ github.head_ref }}" 
        shell: bash
      - name: bla003
        run: echo $RUN_FILE
        shell: bash
      - name: bla004
        run: echo $RUN_FILE > test.txt && cat test.txt
        shell: bash
