name: DBT Deploy To Stage

permissions:
  id-token: write
  contents: read
  pull-requests: write

on:
  # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#running-your-pull_request-workflow-when-a-pull-request-merges
  push:
    branches:
      - main

concurrency:
  group: dbt-deploy-prod

jobs:
  job_002:
    runs-on: ubuntu-latest
    env:
      RUN_FILE_NAME: run_file.sh               
    steps:
      - name: bla002
        run: |
          echo "ls -la" >> $RUN_FILE_NAME
          echo "as" >> $RUN_FILE_NAME
        
      - name: bla003
        run: |
          echo "Hej file"
          ls -la 
          bash $RUN_FILE
        
        
